<ion-content>
  <div class="header">
    <!-- <div class="company_logo">
      <img
        src="https://play-lh.googleusercontent.com/L3oNyCqI9CKB_lULpRzQHqNDeCZ_jBsloc9r8qNZ_uljnKgwc6-h2j68FkXpENSnTsw"
        alt=""
      />
    </div>
    <div class="company_name">
      <h6>National Pension Scheme Authority</h6>
    </div> -->

    <div class="item logo">
      <img
        src="https://play-lh.googleusercontent.com/L3oNyCqI9CKB_lULpRzQHqNDeCZ_jBsloc9r8qNZ_uljnKgwc6-h2j68FkXpENSnTsw"
        alt=""
      />
    </div>
    <div class="item name">
      <h6>
        National Pension Scheme Authority <br /><small
          >Be smart, secure your future</small
        >
      </h6>
    </div>
    <div class="item home_button">
      <ion-button color="warning" href="#">NAPSA HOME</ion-button>
    </div>
  </div>
  <div class="container">
    <div class="card_holder">
      <ion-card>
        <div class="items card_image">1</div>
        <div class="items card_login">
          <br />
          <ion-card-header
            style="
              text-align: center;
              text-transform: uppercase;
              color: #202f60 !important;
            "
          >
            <ion-card-title style="color: #202f60; font-weight: 500"
              >Create an Account</ion-card-title
            >
          </ion-card-header>
          <ion-card-content style="width: 100%; height: 400px">
            <ion-grid style="height: 400px">
              <ion-row>
                <ion-item style="width: 100%">
                  <ion-label position="floating">First Name</ion-label>
                  <ion-input></ion-input>
                </ion-item>
              </ion-row>
              <ion-row>
                <ion-item style="width: 100%">
                  <ion-label position="floating">Middle Name</ion-label>
                  <ion-input></ion-input>
                </ion-item>
              </ion-row>
              <ion-row>
                <ion-item style="width: 100%">
                  <ion-label position="floating">Last Name</ion-label>
                  <ion-input></ion-input>
                </ion-item>
              </ion-row>
              <ion-row>
                <ion-item style="width: 100%">
                  <ion-label position="floating">E-mail Address</ion-label>
                  <ion-input></ion-input>
                </ion-item>
              </ion-row>

              <ion-row>
                <ion-item style="width: 100%">
                  <ion-label position="floating">Password</ion-label>
                  <ion-input type="password"></ion-input>
                </ion-item>
              </ion-row>
              <ion-row>
                <ion-item style="width: 100%">
                  <ion-label position="floating">Confirm Password</ion-label>
                  <ion-input type="password"></ion-input>
                </ion-item>
              </ion-row>
              <ion-row>
                <ion-col>
                  <ion-item lines="none" style="width: 100%">
                    <ion-checkbox color="primary"></ion-checkbox>
                    <ion-label>
                      &nbsp;&nbsp;
                      <small>I agree with terms & conditions</small></ion-label
                    >
                  </ion-item>
                </ion-col>
                <ion-col size="4" style="text-align: right">
                  <ion-button>Sign up</ion-button>
                </ion-col>
              </ion-row>
              <br /><br />
              <ion-row>
                <ion-col style="text-align: center">
                  <ion-button
                    style="color: #202f60; font-weight: 500"
                    href="/login"
                    fill="clear"
                    >Have an Account? Sign up</ion-button
                  >
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </div>
      </ion-card>
    </div>
  </div>
</ion-content>
